<div class="center_left">
    <link href="../ClientRes/Styles/LeftNav.css" rel="stylesheet" />
    <script src="../ClientRes/Scripts/jquery.easing.js"></script>
    <script src="../ClientRes/Scripts/LeftNav.js"></script>
    <ul class="container">
        <li class="menu">
            <ul>
                <li class="button"><a href="#" class="blue">账号管理<span></span></a></li>
                <li class="dropdown">
                    <ul>
                        <li><a href="../UserCenter/index.php">账号基本信息</a></li>
                        <li><a href="../UserCenter/ChangePass.php">修改密码</a></li>
                        <li><a href="../UserCenter/Spread.php">推广信息</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu">
            <ul>
                <li class="button"><a href="#" class="blue">我的应用<span></span></a></li>
                <li class="dropdown">
                    <ul>
                        <li><a href="/UserCenter/BuyLog.php">消费记录</a></li>
                        <li><a href="/UserCenter/Pay.php">我要充值</a></li>
                        <li><a href="javascript:void();">联系我们</a></li>
                        <li><a href="javascript:void();">BUG提交</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
