* html, * html body {  background-attachment: fixed; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-style: normal; text-decoration: none; }
body { background-color: #F3F3F3; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
input { font-size: 12px; }
body { font-family: Arial, Helvetica, sans-serif, "ו"; font-size: 12px; line-height: 1.6; color: #333; }
select, input, button, textarea { font: 100% Tahoma, Helvetica, Arial, sans-serif; }
a:link, a:visited, a:hover, a:active { font-family: Arial, Helvetica, sans-serif, "ו"; text-decoration: none; outline: none; }
a { color: #1261D7; }
a:hover { color: #ff6600; text-decoration: underline; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; }
.clearfix { _zoom: 1; }
* + html .clearfix { overflow: hidden; }
.red { color: #FF0000; }
.green { color: #3B9305; }
.orange { color: #FF5A00; }
b.segmentation { margin: 0 5px; display: inline-block; width: 1px; height: 12px; position: relative; top: 2px; background: #ccc; }
.close_select { -moz-user-select: none; -khtml-user-select: none; }
.header { background: none repeat scroll 0 0 #F1F1F1; border-bottom: 1px solid #DCDCDC; height: 30px; min-width: 1006px; position: relative; z-index: 15; }
.header a { color: #555555; }
.header a.red { color: #FF6600; }
.header a:hover { color: #FF6600; text-decoration: underline; }
.header .top_content { margin: auto; padding-top: 6px; width: 1000px; position: relative; }
.top_content .lz a { color: #666666; }
.top_content .lz a:hover { color: #FF6600; text-decoration: underline; }
.top_content ul.usered { float: right; width: 700px; }
.top_content li { display: block; float: right; }
.top_content li.lines { background: none repeat scroll 0 0 #E0E0E0; display: block; float: right; height: 12px; margin: 3px 10px 0; width: 1px; }
.top { background-color: #FFFFFF; border-bottom: 3px solid #238DE7; width: 100%; }
.top_logo { background: none repeat scroll 0 0 #fff; }
.top_logo .top_logo_con { margin: auto; padding: 10px 0 0; width: 1000px; height: 240px; background: url("http://bt.hufu888.com/ClientRes/Images/game_logo.jpg") no-repeat scroll 0 0 transparent; }
.nav { clear: both; width: 1000px; margin: 0 auto; padding: 0; }
.nav ul li { background: url("http://bt.hufu888.com/ClientRes/Images/nav_g.jpg") repeat-x scroll 0 0 transparent; border-color: #D4D4D4; border-image: none; border-style: solid solid none; border-width: 1px 1px 0; float: left; height: 32px; line-height: 32px; margin-right: 3px; margin-top: 5px; padding: 0 20px; text-align: center; }
.nav ul li.orange { background: url("http://bt.hufu888.com/ClientRes/Images/nav_o.jpg") repeat-x scroll 0 0 #2D92E7; border-color: #FFC96A; float: right; position: relative; }
.nav ul li.orange a, .nav ul li.orange a:hover { color: #A83E00; font-size: 14px; font-weight: bold; }
.nav ul li.select { background: url("http://bt.hufu888.com/ClientRes/Images/nav_b.jpg") repeat-x scroll 0 0 #2D92E7; border-color: #0B8BD5; }
.nav ul li.select a, .nav ul li.select a:hover { color: #FFFFFF; font-size: 14px; font-weight: bold; }
.nav ul li a, .nav ul li a:hover { color: #666666; }
.nav ul li.orange em { background: url("http://bt.hufu888.com/ClientRes/Images/right_nav_o.jpg") no-repeat scroll 0 0 transparent; display: inline-block; height: 33px; position: absolute; right: -4px; top: -1px; width: 4px; }
.center { color: #999999; margin: 0 auto; width: 1000px; }
.c_main strong { color: #333333; font-size: 12px; font-weight: bold; }

.c_main a:hover { color: #E55600; text-decoration: underline; }
.c_main .at_but:hover { color: #FFFFFF; text-decoration: none; }
.c_main .at_but .b_2_g:hover, .c_main .at_but.b_1_g:hover { color: #666666; text-decoration: none; }
.mt10 { margin-top: 10px; }
.center_left { float: left; width: 180px; }
.center_right { float: left; min-height: 180px; width: 810px; }
.ml10 { margin-left: 10px; }
.mb10 { margin-bottom: 10px; }
a.mr10 { margin-right: 10px; }
a.mb_10 { margin-bottom: 10px; }
.fr { float: right; }

.cBlack { color: #A83E00; font-weight: bold; }
.loveyTip { background-color: #FFECC4; border: 1px solid #FDCA68; border-radius: 1px 1px 1px 1px; color: #666565; overflow: hidden; padding: 7px 10px 7px 20px; }
.loveytip_close { background: url("http://bt.hufu888.com/ClientRes/Images/smlpic.gif") repeat scroll -64px -21px transparent; cursor: pointer; display: inline-block; height: 8px; margin-top: 6px; width: 8px; }
.basicInfo { background: url("http://bt.hufu888.com/ClientRes/Images/basic_Infor-background.png") repeat-x scroll 0 0 white; border: 1px solid #DBDBDB; border-radius: 1px 1px 1px 1px; height: 177px; position: relative; }
.basicInfo_content { color: #666666; float: left; padding: 20px 0 0 30px; width: 480px; }
.basicInfo_currency { border-left: 1px solid #E5E5E5; float: left; height: 145px; width: 262px; margin: 22px 0 0 10px; }
.basicInfo_currency ul { border: 1px #F4DEB9 solid; margin-left: 25px; border-bottom-style: none; }
.basicInfo_currency ul.curr_btn { border-top: 0px; }
.basicInfo_currency ul li { border-bottom: 1px #F4DEB9 solid; font-weight: bold; height: 35px; line-height: 35px; padding-left: 8px; }

.basicInfo_content p, .ui_tabs p { height: 30px; line-height: 30px; vertical-align: middle; }





.basicInfor-content-shadow { background: url("http://bt.hufu888.com/ClientRes/Images/basic_Infor-shadow.png") no-repeat scroll 0 0 transparent; height: 16px; }
.mybox { background-color: #FFFFFF; border: 1px solid #DBDBDB; padding: 0; }
.mybox .mytit { background: url("http://bt.hufu888.com/ClientRes/Images/center_box_titbg.jpg") repeat-x scroll 0 0 transparent; border-bottom: 1px solid #DBDBDB; border-left: 1px solid white; border-right: 1px solid white; color: #666666; font-size: 12px; font-weight: bold; height: 32px; line-height: 31px; overflow: hidden; padding: 0 10px; }
.mybox .myinfo_con { color: #333333; padding: 5px; }
.mybox .con { color: #333333; padding: 15px; }
.footer { background-color: #FFFFFF; border-top: 1px solid #DFDFDF; margin-top: 55px; }
.footer_con { background: none repeat scroll 0 0 #FFFFFF; border-top: 1px solid #E0E0E0; color: #999999; line-height: 28px; padding: 15px 0 20px; text-align: center; margin: 0 auto; width: 1000px; border: medium none; }


.at_but { background: url("http://bt.hufu888.com/ClientRes/Images/pic.png") no-repeat scroll right center transparent; border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 600; height: 32px; line-height: 32px; margin: 0; overflow: hidden; padding: 0 25px 0 0; text-decoration: none; }
.at_but { padding-right: 29px; vertical-align: middle; }
.at_but u { background: url("http://bt.hufu888.com/ClientRes/Images/pic.png") no-repeat scroll 0 0 transparent; border: 0 none; float: left; height: 100%; margin: 0; overflow: hidden; padding: 0; width: 25px; }


.bt_but { background: url("http://bt.hufu888.com/ClientRes/Images/pic.png") no-repeat scroll right center transparent; border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 12px; font-weight: 600; height: 22px; line-height: 22px; margin: 0; overflow: hidden; padding: 0 25px 0 0; text-decoration: none; }
.bt_but { padding-right: 20px; vertical-align: middle; }
.bt_but u { background: url("http://bt.hufu888.com/ClientRes/Images/pic.png") no-repeat scroll 0 0 transparent; border: 0 none; float: left; height: 100%; margin: 0; overflow: hidden; padding: 0; width: 25px; }


.bt_but u { width: 20px; }
.bt_but:hover { text-decoration: none; }
a.c_1_g { background-position: right -895px; color: #666666; }
a.c_1_g u { background-position: 0 -918px; }
a.c_1_g:hover { background-position: right -987px; text-decoration: none; color: #666666; }
a.c_1_g:hover u { background-position: 0 -1010px; }
