html, body { height: 100%; width: 100%; padding: 0px; margin: 0px; overflow: hidden; }
body { padding: 0; height: 100%; overflow: hidden; clear: both; text-align: center; background-color: #000000; width: 100%; background: url(../Images/backGroud.png); }
a:link { color: #333333; text-decoration: none; }
a:visited { text-decoration: none; color: #333333; }
a:hover { text-decoration: underline; color: #FF3300; ackground: #f29901; }
a:active { text-decoration: none; }
.jianju { margin: 0 5px; }
#flashContent { display: none; }
.top { background-image: url(../Images/topbg.png); height: 20px; margin: auto; width: 100%; font-size: 12px; clear: both; overflow: hidden; text-align: center; }
.top-0 { height: 20px; width: 1002px; margin: auto; }
.top-logo { height: 20px; width: 100px; line-height: 20px; float: left; overflow: hidden; }
.top-1 { height: 20px; width: 300px; line-height: 20px; float: left; overflow: hidden; }
.top-3 .ic0 { background: url(../Images/icon.png) no-repeat 0 5px; display: block; padding: 0 10px 0 18px; float: left; }
.top-0 .ic1 { background: url(../Images/icon.png) no-repeat 0 -26px; display: block; padding: 0 10px 0 18px; float: left; }
.top-0 .ic2 { background: url(../Images/icon.png) no-repeat 0 -56px; display: block; padding: 0 10px 0 18px; float: left; }
.top-0 .ic3 { background: url(../Images/icon.png) no-repeat 0 -86px; display: block; padding: 0 10px 0 18px; float: left; }
.top-2 { height: 20px; width: 150px; line-height: 20px; float: left; text-align: center; overflow: hidden; }
.top-3 { height: 20px; width: 250px; line-height: 20px; float: right; text-align: right; overflow: hidden; }
