.box .item {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; WIDTH: 179px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 44px; FONT-SIZE: 14px; PADDING-TOP: 6px
}
.box .ipt_box {
	POSITION: relative; WIDTH: 306px; FLOAT: left; HEIGHT: 50px
}
.box .ipt_box .bg_txt {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 300px; HEIGHT: 35px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.box .ipt_box INPUT.new_txt {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 284px; PADDING-RIGHT: 8px; FONT: 700 14px/18px Arial; BACKGROUND: #5f6c6a 0px 0px; HEIGHT: 18px; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 8px
}
.box .ipt_box INPUT.new_txt1 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 100px; PADDING-RIGHT: 8px; FONT: 700 14px/18px Arial; BACKGROUND: #5f6c6a 0px 0px; HEIGHT: 18px; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 8px
}
SELECT.new_txt {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 284px; PADDING-RIGHT: 8px; FONT: 700 14px/18px Arial; BACKGROUND: #5f6c6a 0px 0px; HEIGHT: 18px; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 8px
}
SELECT.new_txt {
	HEIGHT: 38px
}
.box .info {
	WIDTH: 380px; FLOAT: left; HEIGHT: 40px
}
.box {
	HEIGHT: 50px; CLEAR: both
}
.box1 {
	PADDING-TOP: 30px
}
.info {
	LINE-HEIGHT: 40px
}
.box2 .item {
	HEIGHT: 49px; PADDING-TOP: 15px
}
.box2 .code_bg {
	HEIGHT: 64px
}
.box2 .ipt_box {
	PADDING-LEFT: 0px; WIDTH: 306px
}
.box2 .code_bg INPUT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 8px; LINE-HEIGHT: 38px; PADDING-LEFT: 8px; WIDTH: 150px; PADDING-RIGHT: 8px; BACKGROUND: #5f6c6a 0px 0px; FLOAT: left; HEIGHT: 37px; COLOR: #fff; FONT-SIZE: 24px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 8px
}
.box2 .ipt_box INPUT {
	FONT-WEIGHT: bold
}
.box .ipt_box .bg_focus {
	
}
.box2 .code_bg INPUT.focus {
	
}
.box3 {
	OUTLINE-STYLE: none; OUTLINE-WIDTH: medium; HEIGHT: 90px
}
.box3 .ipt_box .submit INPUT {
	BORDER-BOTTOM: #000010 2px solid; TEXT-ALIGN: center; BORDER-LEFT: medium none; WIDTH: 183px; DISPLAY: inline-block; FONT: bold 22px/52px "??????"; BACKGROUND: #00324a; HEIGHT: 52px; COLOR: #ffffff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: #000010 2px solid
}
.box2 .info {
	HEIGHT: 74px
}
#code {
	HEIGHT: 64px
}
.iptnomal {
	COLOR: #ffcc99; FONT-WEIGHT: bold
}
.iptofouce {
	COLOR: #fab26a; FONT-WEIGHT: bold
}
.ipterror {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.iptok {
	COLOR: green; FONT-WEIGHT: bold
}
.box3 .ipt_box .submit .btndisable {
	BACKGROUND-POSITION: 0px -292px
}
.validator {
	COLOR: red; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
