.ipt_form { margin-left: 52px; margin-top: 28px; }
.ipt_form dd { height: 32px; margin-bottom: 18px; overflow: visible; }
.ipt_form .lab { color: #333333; display: inline-block; float: left; font-size: 14px; height: 32px; line-height: 32px; padding-right: 10px; text-align: right; width: 80px; }
.ipt_form .at_text { height: auto; overflow: visible; position: relative; width: 605px; }
.c_main .at_text { color: #666666; vertical-align: middle; }
.at_text { display: inline-block; }
.ipt_form .at_text input { width: 210px; }
.c_main .at_text input { height: 15px; }
.at_text input { background: url("../Images/area_bg.png") no-repeat scroll 0 0 #FFFFFF; border: 1px solid #D7D7D7; color: #666666; font-size: 12px; }
.at_text input { padding: 6px 8px 4px; }
.at_text input, .at_text em { float: left; }
.at_text, .at_text input, .at_text em { display: block; margin: 0; overflow: hidden; }
.ipt_form #reg_sub { vertical-align: middle; }
.at_but u { background: url("../Images/pic.png") no-repeat scroll 0 0 transparent; border: 0 none; float: left; height: 100%; margin: 0; overflow: hidden; padding: 0; width: 25px; }
.b_1_y u { background-position: 0 -58px; }
.at_but { background: url("../Images/pic.png") no-repeat scroll right center transparent; border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 600; height: 32px; line-height: 32px; margin: 0; overflow: hidden; padding: 0 25px 0 0; text-decoration: none; }
.b_1_y { background-position: right -24px; }
.b_1_y u { background-position: 0 -58px; }
.b_1_y:hover { background-position: right -91px; }
.b_1_y:hover u { background-position: 0 -124px; }
.b_1_y:active { background-position: right -157px; }
.b_1_y:active u { background-position: 0 -190px; }
