.jmodal-overlay { width: 100%; background-color: #888; position: absolute; left: 0; top: 0; z-index: 200; margin: 0; padding: 0; }
.jmodal-main { left: 0; padding: 0; margin: 0; top: 0; position: absolute; z-index: 201; }
    .jmodal-main table { width: 100%; margin: 0; padding: 0; }
    .jmodal-main td .jmodal-title { height: 30px; background-color: #008EDE; font-weight: bold; text-indent: 10px; color: #fff; line-height: 30px; border-bottom: groove 0px #954E49; }
    .jmodal-main td .jmodal-content { height: auto; background-color: #F5FFFA; padding: 20px 10px; }
    .jmodal-main td .jmodal-bottom { background-color: #eee; border-top: 1px solid #ccc; padding: 5px; text-align: right; }
    .jmodal-main .jmodal-bottom input { background-color: #008EDE; border-color: #B8D4E8 #124680 #124680 #B8D4E8; border-style: solid; border-width: 1px; color: #fff; cursor: pointer; font-size: 12px; padding: 2px 10px; text-align: center; margin-right: 5px; font-family: Calibri; }
    .jmodal-main td { overflow: hidden; }
/* ie png fixed */
.jmodal-png-fiexed { filter: alpha(opacity=50); }
.jmodal-main td.jmodal-top-left { overflow: hidden; width: 10px; height: 10px; background: url(../images/jmodal/dialog_top_left.png) center bottom no-repeat; }
.jmodal-main td.jmodal-top-right { width: 10px; background: url(../images/jmodal/dialog_top_right.png) center bottom no-repeat; }
.jmodal-main td.jmodal-border-top { background: url(../images/jmodal/dialog_border.png) center bottom repeat-x; }
.jmodal-main td.jmodal-border-bottom { background: url(../images/jmodal/dialog_border.png) center top repeat-x; }
.jmodal-main td.jmodal-border-left { background: url(../images/jmodal/dialog_border.png) right bottom repeat-y; }
.jmodal-main td.jmodal-border-right { background: url(../images/jmodal/dialog_border.png) left bottom repeat-y; }
.jmodal-main td.jmodal-bottom-left { width: 10px; height: 10px; background: url(../images/jmodal/dialog_bottom_left.png) center top no-repeat; }
.jmodal-main td.jmodal-bottom-right { width: 10px; background: url(../images/jmodal/dialog_bottom_right.png) center top no-repeat; }
