ul.container { width: 180px; margin: 0 auto; }
li.menu { width: 100%; }
li.button a { display: block; font-family: BPreplay,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; overflow: hidden; padding: 0px 20px 0; position: relative; /*width:200px;*/ }
    li.button a:hover { text-decoration: none; }
    li.button a span { height: 44px; position: absolute; right: 0; top: 0; width: 4px; display: block; }
    li.button a.blue { background: url(../Images/blue.png) repeat-x top left; color: #074384; }
        li.button a.blue span { background: url(../Images/blue.png) repeat-x top right; }
    li.button a.green { background: url(../Images/green.png) repeat-x top left; color: #436800; }
        li.button a.green span { background: url(../Images/green.png) repeat-x top right; }
    li.button a.orange { background: url(../Images/orange.png) repeat-x top left; color: #882e02; }
        li.button a.orange span { background: url(../Images/orange.png) repeat-x top right; }
    li.button a.red { background: url(../Images/red.png) repeat-x top left; color: #641603; }
        li.button a.red span { background: url(../Images/red.png) repeat-x top right; }
    li.button a:hover { background-position: bottom left; }
        li.button a:hover span { background-position: bottom right; }
.dropdown { width: 100%; }
    .dropdown li { background-color: #373128; border: 1px solid #40392C; border-top: 0px; color: #CCCCCC; padding: 4px 18px; }
h1 { font-family: "Myriad Pro",Arial,Helvetica,sans-serif; font-size: 36px; font-weight: normal; margin-bottom: 15px; }
h2 { font-family: "Myriad Pro",Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; padding-right: 140px; right: 0; text-align: right; text-transform: uppercase; top: 15px; }
.clear { clear: both; }
