#lightboxOverlay {
	Z-INDEX: 9999; POSITION: absolute; FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); BACKGROUND-COLOR: black; DISPLAY: none; TOP: 0px; LEFT: 0px; opacity: 0.85
}
#lightbox {
	Z-INDEX: 10000; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 0; WIDTH: 100%; FONT-FAMILY: "lucida grande", tahoma, verdana, arial, sans-serif; FONT-WEIGHT: normal; LEFT: 0px
}
#lightbox IMG {
	WIDTH: auto; HEIGHT: auto
}
#lightbox A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.lb-outerContainer {
	POSITION: relative; BACKGROUND-COLOR: white; MARGIN: 0px auto; WIDTH: 250px; ZOOM: 1; HEIGHT: 250px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px
}
.lb-outerContainer:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.lb-container {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.lb-loader {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 0; WIDTH: 100%; HEIGHT: 25%; TOP: 40%; LEFT: 0%
}
.lb-nav {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.lb-container > .nav {
	LEFT: 0px
}
.lb-nav A {
	OUTLINE-STYLE: none
}
.lb-prev {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); WIDTH: 49%; DISPLAY: block; HEIGHT: 100%
}
.lb-next {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); WIDTH: 49%; DISPLAY: block; HEIGHT: 100%
}
.lb-prev {
	FLOAT: left; LEFT: 0px
}
.lb-next {
	FLOAT: right; RIGHT: 0px
}
.lb-prev:hover {
	BACKGROUND: url(../images/prev.png) no-repeat left 48%
}
.lb-next:hover {
	BACKGROUND: url(../images/next.png) no-repeat right 48%
}
.lb-dataContainer {
	MARGIN: 0px auto; WIDTH: 100%; ZOOM: 1; BACKGROUND: #ffffff 0px 0px; PADDING-TOP: 5px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -ms-border-bottom-left-radius: 4px; -o-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -ms-border-bottom-right-radius: 4px; -o-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px
}
.lb-dataContainer:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.lb-data {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #bbbbbb; PADDING-TOP: 0px
}
.lb-data .lb-details {
	TEXT-ALIGN: left; LINE-HEIGHT: 1.1em; WIDTH: 85%; FLOAT: left; COLOR: #ff6c00
}
.lb-data .lb-caption {
	LINE-HEIGHT: 1em; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.lb-data .lb-number {
	PADDING-BOTTOM: 1em; DISPLAY: block; CLEAR: left; FONT-SIZE: 11px
}
.lb-data .lb-close {
	PADDING-BOTTOM: 0.7em; OUTLINE-STYLE: none; WIDTH: 35px; FLOAT: right
}
.lb-data .lb-close:hover {
	CURSOR: pointer
}
