.reg_box { border: 1px solid #E5E5E5; padding: 12px 10px; background: #fff; }
.reg_box .tit { border-bottom: 1px solid #F0F0F0; margin-bottom: 28px; padding: 0 9px 12px; }
.gray3 { color: #999999; }
.reg_box .tit b { font-size: 14px; }
.gray1 { color: #3E3E3E; }
.mr15 { margin-right: 15px; }
.reg_form { margin-left: 52px; }
.reg_form #reg_box { display: inline-block; float: left; width: 600px; }
.reg_form dd { margin-bottom: 18px; }
.reg_form .lab { color: #666666; display: inline-block; float: left; font-size: 14px; height: 32px; line-height: 32px; width: 73px; }
.reg_form .at_text { height: auto; overflow: visible; position: relative; width: 505px; }
.at_text { float: left; }
.at_text { display: inline-block; }
.reg_form .at_text input { width: 210px; }
.at_text input { background: url("../Images/area_bg.png") no-repeat scroll 0 0 #FFFFFF; }
.at_text input { border: 1px solid #C7C7C7; color: #333333; height: 16px; padding: 6px 8px 4px; }
.at_text, .at_text input, .at_text em { display: block; margin: 0; overflow: hidden; }
.at_text input, .at_text em { float: left; }
.reg_form .at_text em { top: 0; }
.at_text em.g { background: none repeat scroll 0 0 #E9FFDC; }
.at_text em.on { background: none repeat scroll 0 0 #DAF1FF; }
.at_text em.orr { background: none repeat scroll 0 0 #FFF5F5; }
.t_1_i input, .t_2_i input { border-color: #34d2ff; }
.t_1_e input, .t_2_e input { border-color: #FF7751; }
.reg_form .at_text em { height: auto; margin-left: 16px; min-height: 18px; overflow: visible; padding: 7px 5px; position: absolute; right: 0; width: 250px; }
.at_text em u { margin-top: 1px; }
.at_text em u { margin-right: 6px; }
.at_msg, .at_write { background: url("../Images/pic.png") no-repeat scroll 0 0 transparent; float: left; height: 44px; width: 42px; }
.m_3_e { background-position: -222px -1069px; height: 16px; width: 16px; }
.m_3_o { background-position: -239px -1069px; height: 16px; width: 16px; }
.at_but u { width: 29px; }
.at_but:hover { text-decoration: none; }
.b_1_y { background-position: right -24px; }
.b_1_y u { background-position: 0 -58px; }
.b_1_g { background-position: right -421px; color: #666666; }
.b_1_g u { background-position: 0 -454px; }
.b_1_y:hover { background-position: right -91px; }
.b_1_y:hover u { background-position: 0 -124px; }
.b_1_y:active { background-position: right -157px; }
.b_1_y:active u { background-position: 0 -190px; }
.have_count { border-left: 1px dashed #DDDDDD; float: right; padding: 0 30px 10px; width: 220px; min-height: 182px; }
.have_count h3 { font-size: 14px; font-weight: 800; }
.b_1_g:hover { background-position: right -487px; color: #666666; }
.b_1_g:hover u { background-position: 0 -520px; }

.ipt_box .at_text em { height: auto; margin-left: 16px; min-height: 18px; overflow: visible; padding: 7px 5px; right: 0; width: 250px; }
