DIV#menu {
	MARGIN-TOP: -3px; BACKGROUND: url(../images/main-bg.png) repeat-x; HEIGHT: 41px
}
DIV#menu UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
DIV#menu UL.menu {
	PADDING-LEFT: 30px
}
DIV#menu LI {
	Z-INDEX: 9; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; DISPLAY: block; FLOAT: left; PADDING-TOP: 0px
}
DIV#menu LI:hover > UL {
	LEFT: -2px
}
DIV#menu A {
	Z-INDEX: 10; POSITION: relative; DISPLAY: block; FONT: 12px Trebuchet MS; FLOAT: left; HEIGHT: 41px; TEXT-DECORATION: none
}
DIV#menu A:hover {
	COLOR: #fff
}
DIV#menu A:hover SPAN {
	COLOR: #fff
}
DIV#menu LI.current A {
	
}
DIV#menu SPAN {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 95% 0px; CURSOR: pointer
}
DIV#menu UL UL A.parent SPAN {
	BACKGROUND-IMAGE: url(../images/item-pointer.gif); BACKGROUND-POSITION: 95% 8px
}
DIV#menu UL UL A.parent:hover SPAN {
	BACKGROUND-IMAGE: url(../images/item-pointer-mover.gif)
}
DIV#menu A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #e5e5e5; PADDING-TOP: 0px
}
DIV#menu SPAN {
	MARGIN-TOP: 5px
}
DIV#menu LI {
	BACKGROUND: url(../images/main-delimiter.png) no-repeat 98% 4px
}
DIV#menu LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#menu UL UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#menu UL UL {
	POSITION: absolute; PADDING-BOTTOM: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; WIDTH: 163px; PADDING-RIGHT: 0px; BACKGROUND: rgb(45,45,45); TOP: 38px; PADDING-TOP: 5px; LEFT: -999em
}
DIV#menu UL UL A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: none; HEIGHT: auto; COLOR: rgb(169,169,169); PADDING-TOP: 0px
}
DIV#menu UL UL SPAN {
	MARGIN-TOP: 0px; PADDING-RIGHT: 15px; COLOR: rgb(169,169,169); _padding-right: 20px
}
DIV#menu UL UL A:hover SPAN {
	COLOR: #fff
}
DIV#menu UL UL LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#menu UL UL LI {
	WIDTH: 100%
}
DIV#menu UL UL UL {
	PADDING-BOTTOM: 0px; MARGIN: -38px 0px 0px 163px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV#menu UL UL UL {
	BACKGROUND: rgb(41,41,41)
}
DIV#menu UL UL UL UL {
	BACKGROUND: rgb(38,38,38)
}
DIV#menu UL UL UL UL {
	BACKGROUND: rgb(35,35,35)
}
DIV#menu LI.back {
	Z-INDEX: 8; POSITION: absolute; MARGIN: -1px 0px 0px -5px; WIDTH: 13px; BACKGROUND: url(../images/lava.png) no-repeat right -44px; HEIGHT: 44px
}
DIV#menu LI.back .left {
	BACKGROUND: url(../images/lava.png) no-repeat left top; HEIGHT: 44px; MARGIN-RIGHT: 8px
}
