.minitip-content {
	PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #fa8b03; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #990000; FONT-SIZE: 12px; PADDING-TOP: 8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 0 2px #000; box-shadow: 0 0 3px #555; -webkit-box-shadow: 0 0 3px #555; -moz-box-shadow: 0 0 3px #555
}
.green .minitip-content {
	BACKGROUND-COLOR: #a8d18b; COLOR: #3c3c3c; text-shadow: 0 0 2px #FAFBF1
}
.blue .minitip-content {
	BACKGROUND-COLOR: #4fc6e0
}
.red .minitip-content {
	BACKGROUND-COLOR: #f15a29
}
.yellow .minitip-content {
	BACKGROUND-COLOR: #fbf59d; COLOR: #3c3c3c; text-shadow: 0 0 2px #FAFBF1
}
