body { color: #333333; font-family: Arial,Helvetica,sans-serif; font-size: 12px; }
.def_main { width: 960px; padding: 0px !important; }
.mc { height: auto !important; min-height: 0; background: none repeat scroll 0 0 #FFFFFF; overflow: hidden; }
    .mc ul { width: 100%; }
ul, ol { list-style: none outside none; }
.def_main li { display: inline; float: left; margin: 0 5px; overflow: hidden; padding: 10px 0; position: relative; width: 235px; }
.mOneHalf { margin-left: 0.5% !important; margin-right: 0.5% !important; padding-left: 0 !important; padding-right: 0 !important; }
.qFourOneHalf { width: 24% !important; *width: 23.9% !important; }
.def_main .jItem { background: none repeat scroll 0 0 #fff; border: 1px solid #ddd; height: auto; padding: 5px; }
.def_main .jPic { background: none repeat scroll 0 0 #FFFFFF; position: relative; text-align: center; }
    .def_main .jPic a { border-bottom: 1px solid #E0E5ED; display: block; padding: 5px 0; }
    .def_main .jPic img { vertical-align: top; }
.def_main .jGoodsInfo { height: 76px; overflow: hidden; position: relative; }
.def_main .jDesc { height: 32px; line-height: 32px;font-size: 14px;font-weight: 600; overflow: hidden; padding-top: 5px; }
    .def_main .jDesc a.type { color: #FF5A00; text-decoration: none; }
    .def_main .jDesc a.name { color: #FF0000 !important; text-decoration: underline; cursor: pointer; }
.def_main .jPrice { overflow: hidden; }
.def_main .jSalePrice { clear: both; color: #999999; font-size: 12px; height: 18px; margin-bottom: 3px; overflow: hidden; }
.def_main .jPrice span { display: inline; float: left; }
.def_main .jdPrice { color: #999999; }
    .def_main .jdPrice .jText { font-size: 12px; height: 18px; line-height: 18px; }
.def_main .jPrice span { display: inline; float: left; }
.def_main .jBtnArea { bottom: 0; position: absolute; right: 2px; z-index: 1; }
.def_main .jdPrice .jdNum { color: #FF0000; font-size: 18px; }
.def_main .jPrice span { display: inline; float: left; }
.def_main .jPrice .jsNum { text-decoration: line-through; }
.def_main .jPrice span { display: inline; float: left; height: 18px; line-height: 18px; }

.def_main .jPromotionLabel { background: url("../Images/itemjj.png") no-repeat scroll 0 0 transparent; font-size: 15px; height: 95px; position: absolute; right: 10px; top: 10px; width: 68px; }


.def_main .jPromotionTextArea { color: #FFFFFF; font-size: 15px; line-height: 1; overflow: hidden; padding: 2px 20px 10px 10px; text-align: center; }

.def_main .jPromotionText1 { display: block; font-size: 12px; }
.def_main .jPromotionNum { display: block; font-size: 12px; font-weight: bold; height: 15px; line-height: 15px; }
.def_main .jPromotionText2 { font-size: 12px; }
.def_main .onhover { border: 1px #FF5A00 solid; }
.itemAttr p { line-height: 20px; line-height: 20px; }
.itemAttrType { color: #ED8A00; font-size: 12px; }
.itemAttrTypeB { font-weight: bold; font-size: 14px; }
.itemAttrVal { padding-left: 10px; }
.rightw, .leftw { color: #fff !important; display: inline-block; }
.leftw { width: 60px; }
.itemstart { width: 17px; display: inline-block; height: 16px; background: url(../Images/start.jpg) no-repeat scroll 0 0 transparent; }
.rightz, .leftz, .middlez { color: #8A6EA8 !important; display: inline-block; }
.leftz { width: 60px; }
.middlez { width: 35px; }
a.mr10 { margin: 0px; }
